* {
  scrollbar-width: thin;
  scrollbar-color: rgba(120,120,120,0.4) transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: rgba(120,120,120,0.5);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb {
  opacity: 0;
  transition: opacity 0.2s ease;
}

:hover::-webkit-scrollbar-thumb,
*:active::-webkit-scrollbar-thumb {
  opacity: 1;
}
