{
  "openapi": "3.1.0",
  "info": {
    "title": "FishAudio OpenAPI",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://api.fish.audio",
      "description": "Fish Audio API"
    }
  ],
  "paths": {
    "/v1/tts": {
      "post": {
        "summary": "Text to Speech",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "model",
            "description": "Specify which TTS model to use. We recommend `s1`",
            "required": true,
            "schema": {
              "type": "string",
              "default": "s1",
              "enum": [
                "s1",
                "speech-1.6",
                "speech-1.5"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "text": {
                    "description": "The text content to convert to speech. Supports multiple languages including English, Chinese, Japanese, and more. For best results, use proper punctuation and avoid mixing too many languages in a single request.",
                    "title": "Text",
                    "type": "string"
                  },
                  "temperature": {
                    "description": "Controls the randomness/expressiveness of the generated speech. Higher values produce more varied and expressive speech, lower values produce more consistent output.",
                    "title": "Temperature",
                    "type": "number",
                    "default": 0.7,
                    "minimum": 0.0,
                    "maximum": 1.0
                  },
                  "top_p": {
                    "description": "Controls diversity via nucleus sampling. Lower values produce more focused/predictable speech, higher values allow more variety.",
                    "title": "Top P",
                    "type": "number",
                    "default": 0.7,
                    "minimum": 0.0,
                    "maximum": 1.0
                  },
                  "references": {
                    "anyOf": [
                      {
                        "items": {
                          "$ref": "#/components/schemas/ReferenceAudio"
                        },
                        "type": "array"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Custom voice references for zero-shot voice cloning. Provide audio samples with their transcripts to clone a voice on-the-fly without creating a model. Requires MessagePack serialization (not available via JSON). Takes precedence over reference_id if both are provided. For best results, use 10-30 seconds of clean audio.",
                    "title": "References"
                  },
                  "reference_id": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "description": "The unique identifier of a voice model to use for speech synthesis. You can find model IDs in the Fish Audio voice library or use your own custom-trained models. If not specified and no references provided, a default voice will be used.",
                    "title": "Reference Id"
                  },
                  "prosody": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/ProsodyControl"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "description": "Fine-tune the speech output with speed and volume adjustments. Speed controls speaking rate (1.0 = normal, <1.0 = slower, >1.0 = faster). Volume adjusts loudness in decibels (0 = unchanged, positive = louder, negative = quieter)."
                  },
                  "chunk_length": {
                    "default": 300,
                    "description": "Controls the size of text segments for processing. The text is split into chunks before synthesis. Higher values produce longer continuous speech segments but increase memory usage and latency. Lower values reduce latency but may affect naturalness at chunk boundaries.",
                    "maximum": 300,
                    "minimum": 100,
                    "title": "Chunk Length",
                    "type": "integer"
                  },
                  "normalize": {
                    "default": true,
                    "description": "Normalizes text for English and Chinese, improving stability for numbers. When enabled, preprocesses text to improve pronunciation consistency.",
                    "title": "Normalize",
                    "type": "boolean"
                  },
                  "format": {
                    "default": "mp3",
                    "description": "Output audio format. 'mp3': Compressed, widely compatible, good for streaming (44.1kHz). 'wav': Uncompressed, highest quality, larger file size (44.1kHz). 'pcm': Raw 16-bit audio data, useful for real-time processing (44.1kHz). 'opus': Modern compressed format, excellent quality at low bitrates, ideal for web applications (48kHz).",
                    "enum": [
                      "wav",
                      "pcm",
                      "mp3",
                      "opus"
                    ],
                    "title": "Format",
                    "type": "string"
                  },
                  "sample_rate": {
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "description": "Audio sample rate in Hz. When null, uses the format's default (44100 Hz for most formats). Common values: 44100 (CD quality), 22050 (reduced size), 16000 (speech-optimized). Lower sample rates reduce file size but may affect audio quality.",
                    "title": "Sample Rate"
                  },
                  "mp3_bitrate": {
                    "default": 128,
                    "description": "Bitrate for MP3 output in kbps. Only applies when format='mp3'. 64: Smaller files, reduced quality. 128: Good balance of quality and size (recommended). 192: Higher quality, larger files.",
                    "enum": [
                      64,
                      128,
                      192
                    ],
                    "title": "Mp3 Bitrate",
                    "type": "integer"
                  },
                  "opus_bitrate": {
                    "default": -1000,
                    "description": "Bitrate for Opus output in kbps. Only applies when format='opus'. -1000: Automatic bitrate selection based on content (recommended). 24-64: Manual bitrate selection. Higher values improve quality but increase file size.",
                    "enum": [
                      -1000,
                      24,
                      32,
                      48,
                      64
                    ],
                    "title": "Opus Bitrate",
                    "type": "integer"
                  },
                  "latency": {
                    "default": "normal",
                    "description": "Controls the trade-off between response time and audio quality. 'normal': Best quality, standard latency - recommended for non-real-time applications. 'balanced': Reduced time-to-first-byte at the cost of slightly reduced quality - recommended for real-time/streaming applications. 'low': Lowest latency, may have further quality trade-offs.",
                    "enum": [
                      "low",
                      "normal",
                      "balanced"
                    ],
                    "title": "Latency",
                    "type": "string"
                  },
                  "max_new_tokens": {
                    "default": 1024,
                    "description": "Maximum number of audio tokens to generate per text chunk. Higher values allow generating longer audio segments per chunk. Reduce if experiencing memory issues or if you only need short utterances. Most users should leave this at the default.",
                    "title": "Max New Tokens",
                    "type": "integer"
                  },
                  "repetition_penalty": {
                    "default": 1.2,
                    "description": "Discourages the model from repeating similar audio patterns. Values > 1.0 reduce repetition. Higher values more aggressively prevent loops but may affect naturalness.",
                    "title": "Repetition Penalty",
                    "type": "number"
                  },
                  "min_chunk_length": {
                    "default": 50,
                    "description": "Minimum number of characters required before splitting text into a new chunk. Prevents creation of very short audio segments that might sound unnatural. Higher values ensure longer continuous segments but may increase latency for the first audio. Works in conjunction with chunk_length.",
                    "minimum": 0,
                    "maximum": 100,
                    "title": "Min Chunk Length",
                    "type": "integer"
                  },
                  "condition_on_previous_chunks": {
                    "default": true,
                    "description": "Enables voice consistency across multiple text chunks. When true, uses the audio from previous chunks as context for generating subsequent chunks, maintaining consistent voice characteristics throughout long texts. When false, each chunk is generated independently. Disable only if you want deliberately varied intonation between segments.",
                    "title": "Condition On Previous Chunks",
                    "type": "boolean"
                  },
                  "early_stop_threshold": {
                    "default": 1.0,
                    "description": "Controls when to stop audio generation early during batch processing. Value of 1.0 means wait for all samples to complete (best quality). Lower values (e.g., 0.8) stop when 80% of samples are done, potentially reducing latency but may cut off audio prematurely. Most users should leave this at 1.0.",
                    "title": "Early Stop Threshold",
                    "type": "number",
                    "minimum": 0.0,
                    "maximum": 1.0
                  }
                },
                "required": [
                  "text"
                ],
                "type": "object"
              }
            },
            "application/msgpack": {
              "schema": {
                "properties": {
                  "text": {
                    "description": "Text to be converted to speech",
                    "title": "Text",
                    "type": "string"
                  },
                  "temperature": {
                    "description": "Controls the randomness/expressiveness of the generated speech. Higher values produce more varied and expressive speech, lower values produce more consistent output.",
                    "title": "Temperature",
                    "type": "number",
                    "default": 0.7,
                    "minimum": 0.0,
                    "maximum": 1.0
                  },
                  "top_p": {
                    "description": "Controls diversity via nucleus sampling. Lower values produce more focused/predictable speech, higher values allow more variety.",
                    "title": "Top P",
                    "type": "number",
                    "default": 0.7,
                    "minimum": 0.0,
                    "maximum": 1.0
                  },
                  "references": {
                    "anyOf": [
                      {
                        "items": {
                          "$ref": "#/components/schemas/ReferenceAudio"
                        },
                        "type": "array"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "References to be used for the speech, this requires MessagePack serialization, this will override reference_voices and reference_texts",
                    "title": "References"
                  },
                  "reference_id": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "description": "The unique identifier of a voice model to use for speech synthesis. You can find model IDs in the Fish Audio voice library or use your own custom-trained models. If not specified and no references provided, a default voice will be used.",
                    "title": "Reference Id"
                  },
                  "prosody": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/ProsodyControl"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "description": "Prosody to be used for the speech"
                  },
                  "chunk_length": {
                    "default": 300,
                    "description": "Chunk length to be used for the speech",
                    "maximum": 300,
                    "minimum": 100,
                    "title": "Chunk Length",
                    "type": "integer"
                  },
                  "normalize": {
                    "default": true,
                    "description": "Normalizes text for English and Chinese, improving stability for numbers. When enabled, preprocesses text to improve pronunciation consistency.",
                    "title": "Normalize",
                    "type": "boolean"
                  },
                  "format": {
                    "default": "mp3",
                    "description": "Format to be used for the speech",
                    "enum": [
                      "wav",
                      "pcm",
                      "mp3",
                      "opus"
                    ],
                    "title": "Format",
                    "type": "string"
                  },
                  "sample_rate": {
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "description": "Sample rate to be used for the speech",
                    "title": "Sample Rate"
                  },
                  "mp3_bitrate": {
                    "default": 128,
                    "description": "MP3 Bitrate to be used for the speech",
                    "enum": [
                      64,
                      128,
                      192
                    ],
                    "title": "Mp3 Bitrate",
                    "type": "integer"
                  },
                  "opus_bitrate": {
                    "default": -1000,
                    "description": "Opus Bitrate to be used for the speech",
                    "enum": [
                      -1000,
                      24,
                      32,
                      48,
                      64
                    ],
                    "title": "Opus Bitrate",
                    "type": "integer"
                  },
                  "latency": {
                    "default": "normal",
                    "description": "Latency to be used for the speech, balanced will reduce the latency but may lead to performance degradation",
                    "enum": [
                      "low",
                      "normal",
                      "balanced"
                    ],
                    "title": "Latency",
                    "type": "string"
                  },
                  "max_new_tokens": {
                    "default": 1024,
                    "description": "Maximum number of tokens to generate per chunk. Each chunk can produce up to ~25 seconds of audio",
                    "title": "Max New Tokens",
                    "type": "integer"
                  },
                  "repetition_penalty": {
                    "default": 1.2,
                    "description": "Discourages the model from repeating similar audio patterns. Values > 1.0 reduce repetition. Higher values more aggressively prevent loops but may affect naturalness.",
                    "title": "Repetition Penalty",
                    "type": "number"
                  },
                  "min_chunk_length": {
                    "default": 50,
                    "description": "Minimum chunk length for text splitting",
                    "minimum": 0,
                    "maximum": 100,
                    "title": "Min Chunk Length",
                    "type": "integer"
                  },
                  "condition_on_previous_chunks": {
                    "default": true,
                    "description": "Whether to condition generation on previous chunks. If references are provided, uses references only; otherwise uses first chunk as reference",
                    "title": "Condition On Previous Chunks",
                    "type": "boolean"
                  },
                  "early_stop_threshold": {
                    "default": 1.0,
                    "description": "Early stop if this fraction of samples are finished",
                    "title": "Early Stop Threshold",
                    "type": "number",
                    "minimum": 0.0,
                    "maximum": 1.0
                  }
                },
                "required": [
                  "text"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "description": "chunked"
              }
            }
          },
          "401": {
            "description": "No permission -- see authorization schemes",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status": {
                      "title": "Status",
                      "type": "integer"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "No payment -- see charging schemes",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status": {
                      "title": "Status",
                      "type": "integer"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "loc": {
                        "title": "Location",
                        "description": "error field",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "type": {
                        "title": "Type",
                        "description": "error type",
                        "type": "string"
                      },
                      "msg": {
                        "title": "Message",
                        "description": "error message",
                        "type": "string"
                      },
                      "ctx": {
                        "title": "Context",
                        "description": "error context",
                        "type": "string"
                      },
                      "in": {
                        "title": "In",
                        "type": "string",
                        "enum": [
                          "path",
                          "query",
                          "header",
                          "cookie",
                          "body"
                        ]
                      }
                    },
                    "required": [
                      "loc",
                      "type",
                      "msg"
                    ]
                  }
                }
              }
            }
          }
        },
        "tags": [
          "OpenAPI v1"
        ]
      }
    },
    "/v1/asr": {
      "post": {
        "summary": "Speech to Text",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "audio": {
                    "description": "Audio to be converted to text",
                    "format": "binary",
                    "title": "Audio",
                    "type": "string"
                  },
                  "language": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "description": "Language to be used for the speech",
                    "title": "Language"
                  },
                  "ignore_timestamps": {
                    "default": true,
                    "description": "Whether to return precise timestamps in the text, this will increase the latency in audio shorter than 30 seconds",
                    "title": "Ignore Timestamps",
                    "type": "boolean"
                  }
                },
                "required": [
                  "audio"
                ],
                "type": "object"
              }
            },
            "application/msgpack": {
              "schema": {
                "properties": {
                  "audio": {
                    "description": "Audio to be converted to text",
                    "format": "binary",
                    "title": "Audio",
                    "type": "string"
                  },
                  "language": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "description": "Language to be used for the speech",
                    "title": "Language"
                  },
                  "ignore_timestamps": {
                    "default": true,
                    "description": "Whether to return precise timestamps in the text, this will increase the latency in audio shorter than 30 seconds",
                    "title": "Ignore Timestamps",
                    "type": "boolean"
                  }
                },
                "required": [
                  "audio"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "text": {
                      "title": "Text",
                      "type": "string"
                    },
                    "duration": {
                      "description": "Duration of the audio in seconds",
                      "title": "Duration",
                      "type": "number"
                    },
                    "segments": {
                      "items": {
                        "$ref": "#/components/schemas/ASRSegment"
                      },
                      "title": "Segments",
                      "type": "array"
                    }
                  },
                  "required": [
                    "text",
                    "duration",
                    "segments"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "No permission -- see authorization schemes",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status": {
                      "title": "Status",
                      "type": "integer"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "No payment -- see charging schemes",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status": {
                      "title": "Status",
                      "type": "integer"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "loc": {
                        "title": "Location",
                        "description": "error field",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "type": {
                        "title": "Type",
                        "description": "error type",
                        "type": "string"
                      },
                      "msg": {
                        "title": "Message",
                        "description": "error message",
                        "type": "string"
                      },
                      "ctx": {
                        "title": "Context",
                        "description": "error context",
                        "type": "string"
                      },
                      "in": {
                        "title": "In",
                        "type": "string",
                        "enum": [
                          "path",
                          "query",
                          "header",
                          "cookie",
                          "body"
                        ]
                      }
                    },
                    "required": [
                      "loc",
                      "type",
                      "msg"
                    ]
                  }
                }
              }
            }
          }
        },
        "tags": [
          "OpenAPI v1"
        ]
      }
    },
    "/v1/tts/with_timestamp": {
      "post": {
        "summary": "Text to Speech with Timestamp Alignment",
        "description": "Generates speech from text and returns word-level timestamp alignment. The complete audio is generated first, then aligned with the text to provide precise timing information for each segment.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "model",
            "description": "Specify which TTS model to use. We recommend `s1`",
            "required": true,
            "schema": {
              "type": "string",
              "default": "s1",
              "enum": [
                "s1",
                "speech-1.6",
                "speech-1.5"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "text": {
                    "description": "The text content to convert to speech.",
                    "title": "Text",
                    "type": "string"
                  },
                  "temperature": {
                    "description": "Controls the randomness/expressiveness of the generated speech.",
                    "title": "Temperature",
                    "type": "number",
                    "default": 0.7,
                    "minimum": 0.0,
                    "maximum": 1.0
                  },
                  "top_p": {
                    "description": "Controls diversity via nucleus sampling.",
                    "title": "Top P",
                    "type": "number",
                    "default": 0.7,
                    "minimum": 0.0,
                    "maximum": 1.0
                  },
                  "reference_id": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "description": "The unique identifier of a voice model to use for speech synthesis.",
                    "title": "Reference Id"
                  },
                  "chunk_length": {
                    "default": 300,
                    "description": "Controls the size of text segments for processing.",
                    "maximum": 300,
                    "minimum": 100,
                    "title": "Chunk Length",
                    "type": "integer"
                  },
                  "normalize": {
                    "default": true,
                    "description": "Normalizes text for English and Chinese, improving stability for numbers.",
                    "title": "Normalize",
                    "type": "boolean"
                  },
                  "latency": {
                    "default": "normal",
                    "description": "Controls the trade-off between response time and audio quality.",
                    "enum": [
                      "low",
                      "normal",
                      "balanced"
                    ],
                    "title": "Latency",
                    "type": "string"
                  }
                },
                "required": [
                  "text"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request fulfilled, returns audio with timestamp alignment",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TTSWithTimestampResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status": {
                      "title": "Status",
                      "type": "integer"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "No permission -- see authorization schemes",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status": {
                      "title": "Status",
                      "type": "integer"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "No payment -- see charging schemes",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status": {
                      "title": "Status",
                      "type": "integer"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "loc": {
                        "title": "Location",
                        "description": "error field",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "type": {
                        "title": "Type",
                        "description": "error type",
                        "type": "string"
                      },
                      "msg": {
                        "title": "Message",
                        "description": "error message",
                        "type": "string"
                      }
                    },
                    "required": [
                      "loc",
                      "type",
                      "msg"
                    ]
                  }
                }
              }
            }
          }
        },
        "tags": [
          "OpenAPI v1"
        ]
      }
    },
    "/v1/tts/with_timestamp/stream": {
      "post": {
        "summary": "Streaming Text to Speech with Timestamp Alignment",
        "description": "Streams speech chunks with progressive timestamp alignment via Server-Sent Events (SSE). Each event contains a JSON object with `audio_base64`, `text`, and `alignment` fields. The SSE format is: `data: {\"audio_base64\": \"...\", \"text\": \"...\", \"alignment\": [...]}\\n\\n`",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "model",
            "description": "Specify which TTS model to use. Only s1 supports streaming alignment.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "s1",
              "enum": [
                "s1"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "text": {
                    "description": "The text content to convert to speech.",
                    "title": "Text",
                    "type": "string"
                  },
                  "temperature": {
                    "description": "Controls the randomness/expressiveness of the generated speech.",
                    "title": "Temperature",
                    "type": "number",
                    "default": 0.7,
                    "minimum": 0.0,
                    "maximum": 1.0
                  },
                  "top_p": {
                    "description": "Controls diversity via nucleus sampling.",
                    "title": "Top P",
                    "type": "number",
                    "default": 0.7,
                    "minimum": 0.0,
                    "maximum": 1.0
                  },
                  "reference_id": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "description": "The unique identifier of a voice model to use for speech synthesis.",
                    "title": "Reference Id"
                  },
                  "chunk_length": {
                    "default": 300,
                    "description": "Controls the size of text segments for processing.",
                    "maximum": 300,
                    "minimum": 100,
                    "title": "Chunk Length",
                    "type": "integer"
                  },
                  "normalize": {
                    "default": true,
                    "description": "Normalizes text for English and Chinese, improving stability for numbers.",
                    "title": "Normalize",
                    "type": "boolean"
                  },
                  "latency": {
                    "default": "normal",
                    "description": "Controls the trade-off between response time and audio quality.",
                    "enum": [
                      "low",
                      "normal",
                      "balanced"
                    ],
                    "title": "Latency",
                    "type": "string"
                  }
                },
                "required": [
                  "text"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request fulfilled, returns SSE stream of audio chunks with alignment",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "description": "text/event-stream"
              }
            },
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "Server-Sent Events stream. Each event data field contains a JSON object with: audio_base64 (string), text (string, optional), alignment (array of TimestampSegment, optional)"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - model not supported for streaming alignment",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status": {
                      "title": "Status",
                      "type": "integer"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "No permission -- see authorization schemes",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status": {
                      "title": "Status",
                      "type": "integer"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "No payment -- see charging schemes",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status": {
                      "title": "Status",
                      "type": "integer"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "loc": {
                        "title": "Location",
                        "description": "error field",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "type": {
                        "title": "Type",
                        "description": "error type",
                        "type": "string"
                      },
                      "msg": {
                        "title": "Message",
                        "description": "error message",
                        "type": "string"
                      }
                    },
                    "required": [
                      "loc",
                      "type",
                      "msg"
                    ]
                  }
                }
              }
            }
          }
        },
        "tags": [
          "OpenAPI v1"
        ]
      }
    },
    "/wallet/{user_id}/package": {
      "get": {
        "summary": "Get User Package",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "user_id",
            "description": "User ID or 'self'",
            "required": false,
            "schema": {
              "default": "self",
              "title": "User Id",
              "type": "string"
            },
            "deprecated": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "user_id": {
                      "title": "User Id",
                      "type": "string"
                    },
                    "type": {
                      "title": "Type",
                      "type": "string"
                    },
                    "total": {
                      "title": "Total",
                      "type": "integer"
                    },
                    "balance": {
                      "title": "Balance",
                      "type": "integer"
                    },
                    "created_at": {
                      "title": "Created At",
                      "type": "string"
                    },
                    "updated_at": {
                      "title": "Updated At",
                      "type": "string"
                    },
                    "finished_at": {
                      "title": "Finished At",
                      "type": "string"
                    }
                  },
                  "required": [
                    "user_id",
                    "type",
                    "total",
                    "balance",
                    "created_at",
                    "updated_at",
                    "finished_at"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "No permission -- see authorization schemes",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status": {
                      "title": "Status",
                      "type": "integer"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "loc": {
                        "title": "Location",
                        "description": "error field",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "type": {
                        "title": "Type",
                        "description": "error type",
                        "type": "string"
                      },
                      "msg": {
                        "title": "Message",
                        "description": "error message",
                        "type": "string"
                      },
                      "ctx": {
                        "title": "Context",
                        "description": "error context",
                        "type": "string"
                      },
                      "in": {
                        "title": "In",
                        "type": "string",
                        "enum": [
                          "path",
                          "query",
                          "header",
                          "cookie",
                          "body"
                        ]
                      }
                    },
                    "required": [
                      "loc",
                      "type",
                      "msg"
                    ]
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Wallet"
        ]
      }
    },
    "/wallet/{user_id}/api-credit": {
      "get": {
        "summary": "Get API Credit",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "check_free_credit",
            "description": "",
            "required": false,
            "schema": {
              "default": false,
              "title": "Check Free Credit",
              "type": "boolean"
            },
            "deprecated": false
          },
          {
            "in": "path",
            "name": "user_id",
            "description": "User ID or 'self'",
            "required": false,
            "schema": {
              "default": "self",
              "title": "User Id",
              "type": "string"
            },
            "deprecated": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "_id": {
                      "title": " Id",
                      "type": "string"
                    },
                    "user_id": {
                      "title": "User Id",
                      "type": "string"
                    },
                    "credit": {
                      "title": "Credit",
                      "type": "string"
                    },
                    "created_at": {
                      "format": "date-time",
                      "title": "Created At",
                      "type": "string"
                    },
                    "updated_at": {
                      "format": "date-time",
                      "title": "Updated At",
                      "type": "string"
                    },
                    "has_phone_sha256": {
                      "title": "Has Phone Sha256",
                      "type": "boolean"
                    },
                    "has_free_credit": {
                      "anyOf": [
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "default": null,
                      "title": "Has Free Credit"
                    }
                  },
                  "required": [
                    "_id",
                    "user_id",
                    "credit",
                    "created_at",
                    "updated_at",
                    "has_phone_sha256"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "No permission -- see authorization schemes",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status": {
                      "title": "Status",
                      "type": "integer"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "loc": {
                        "title": "Location",
                        "description": "error field",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "type": {
                        "title": "Type",
                        "description": "error type",
                        "type": "string"
                      },
                      "msg": {
                        "title": "Message",
                        "description": "error message",
                        "type": "string"
                      },
                      "ctx": {
                        "title": "Context",
                        "description": "error context",
                        "type": "string"
                      },
                      "in": {
                        "title": "In",
                        "type": "string",
                        "enum": [
                          "path",
                          "query",
                          "header",
                          "cookie",
                          "body"
                        ]
                      }
                    },
                    "required": [
                      "loc",
                      "type",
                      "msg"
                    ]
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Wallet"
        ]
      }
    },
    "/model": {
      "get": {
        "summary": "List Models",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page_size",
            "description": "Page size",
            "required": false,
            "schema": {
              "default": 10,
              "title": "Page Size",
              "type": "integer"
            },
            "deprecated": false
          },
          {
            "in": "query",
            "name": "page_number",
            "description": "Page number",
            "required": false,
            "schema": {
              "default": 1,
              "title": "Page Number",
              "type": "integer"
            },
            "deprecated": false
          },
          {
            "in": "query",
            "name": "title",
            "description": "Title to filter models",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "default": null,
              "title": "Title"
            },
            "deprecated": false
          },
          {
            "in": "query",
            "name": "tag",
            "description": "Tag to filter models",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "default": null,
              "title": "Tag"
            },
            "deprecated": false
          },
          {
            "in": "query",
            "name": "self",
            "description": "If True, only models created by the user will be returned",
            "required": false,
            "schema": {
              "default": false,
              "title": "Self",
              "type": "boolean"
            },
            "deprecated": false
          },
          {
            "in": "query",
            "name": "author_id",
            "description": "Author ID to filter models, this will be ignored if self is True",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "default": null,
              "title": "Author Id"
            },
            "deprecated": false
          },
          {
            "in": "query",
            "name": "language",
            "description": "Language to filter models",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "default": null,
              "title": "Language"
            },
            "deprecated": false
          },
          {
            "in": "query",
            "name": "title_language",
            "description": "Title language to filter models",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "default": null,
              "title": "Title Language"
            },
            "deprecated": false
          },
          {
            "in": "query",
            "name": "sort_by",
            "description": "",
            "required": false,
            "schema": {
              "default": "score",
              "enum": [
                "score",
                "task_count",
                "created_at"
              ],
              "title": "Sort By",
              "type": "string"
            },
            "deprecated": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "total": {
                      "title": "Total",
                      "type": "integer"
                    },
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/ModelEntity"
                      },
                      "title": "Items",
                      "type": "array"
                    }
                  },
                  "required": [
                    "total",
                    "items"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "loc": {
                        "title": "Location",
                        "description": "error field",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "type": {
                        "title": "Type",
                        "description": "error type",
                        "type": "string"
                      },
                      "msg": {
                        "title": "Message",
                        "description": "error message",
                        "type": "string"
                      },
                      "ctx": {
                        "title": "Context",
                        "description": "error context",
                        "type": "string"
                      },
                      "in": {
                        "title": "In",
                        "type": "string",
                        "enum": [
                          "path",
                          "query",
                          "header",
                          "cookie",
                          "body"
                        ]
                      }
                    },
                    "required": [
                      "loc",
                      "type",
                      "msg"
                    ]
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Model"
        ]
      },
      "post": {
        "summary": "Create Model",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "visibility": {
                    "default": "public",
                    "description": "Model visibility, public will be shown in the discovery page, unlist allows anyone with the link to access, private only be visible to the creator",
                    "enum": [
                      "public",
                      "unlist",
                      "private"
                    ],
                    "title": "Visibility",
                    "type": "string"
                  },
                  "type": {
                    "const": "tts",
                    "description": "Model type, tts is for text to speech",
                    "enum": [
                      "tts"
                    ],
                    "title": "Type",
                    "type": "string"
                  },
                  "title": {
                    "description": "Model title or name",
                    "title": "Title",
                    "type": "string"
                  },
                  "description": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "description": "Model description",
                    "title": "Description"
                  },
                  "cover_image": {
                    "anyOf": [
                      {
                        "format": "binary",
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "description": "Model cover image, this is required if the model is public",
                    "title": "Cover Image"
                  },
                  "train_mode": {
                    "const": "fast",
                    "description": "Model train mode, for TTS model, fast means model instantly available after creation",
                    "enum": [
                      "fast"
                    ],
                    "title": "Train Mode",
                    "type": "string"
                  },
                  "voices": {
                    "anyOf": [
                      {
                        "items": {
                          "format": "binary",
                          "type": "string"
                        },
                        "type": "array"
                      },
                      {
                        "format": "binary",
                        "type": "string"
                      }
                    ],
                    "description": "Upload voices files that will be used to tune the model",
                    "title": "Voices"
                  },
                  "texts": {
                    "anyOf": [
                      {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "description": "Texts corresponding to the voices, if unspecified, ASR will be performed on the voices",
                    "title": "Texts"
                  },
                  "tags": {
                    "anyOf": [
                      {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Model tags",
                    "title": "Tags"
                  },
                  "enhance_audio_quality": {
                    "default": false,
                    "description": "Enhance audio quality",
                    "title": "Enhance Audio Quality",
                    "type": "boolean"
                  }
                },
                "required": [
                  "type",
                  "title",
                  "train_mode",
                  "voices"
                ],
                "type": "object"
              }
            },
            "application/msgpack": {
              "schema": {
                "properties": {
                  "visibility": {
                    "default": "public",
                    "description": "Model visibility, public will be shown in the discovery page, unlist allows anyone with the link to access, private only be visible to the creator",
                    "enum": [
                      "public",
                      "unlist",
                      "private"
                    ],
                    "title": "Visibility",
                    "type": "string"
                  },
                  "type": {
                    "const": "tts",
                    "description": "Model type, tts is for text to speech",
                    "enum": [
                      "tts"
                    ],
                    "title": "Type",
                    "type": "string"
                  },
                  "title": {
                    "description": "Model title or name",
                    "title": "Title",
                    "type": "string"
                  },
                  "description": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "description": "Model description",
                    "title": "Description"
                  },
                  "cover_image": {
                    "anyOf": [
                      {
                        "format": "binary",
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "description": "Model cover image, this is required if the model is public",
                    "title": "Cover Image"
                  },
                  "train_mode": {
                    "const": "fast",
                    "description": "Model train mode, for TTS model, fast means model instantly available after creation",
                    "enum": [
                      "fast"
                    ],
                    "title": "Train Mode",
                    "type": "string"
                  },
                  "voices": {
                    "anyOf": [
                      {
                        "items": {
                          "format": "binary",
                          "type": "string"
                        },
                        "type": "array"
                      },
                      {
                        "format": "binary",
                        "type": "string"
                      }
                    ],
                    "description": "Upload voices files that will be used to tune the model",
                    "title": "Voices"
                  },
                  "texts": {
                    "anyOf": [
                      {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "description": "Texts corresponding to the voices, if unspecified, ASR will be performed on the voices",
                    "title": "Texts"
                  },
                  "tags": {
                    "anyOf": [
                      {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Model tags",
                    "title": "Tags"
                  },
                  "enhance_audio_quality": {
                    "default": false,
                    "description": "Enhance audio quality",
                    "title": "Enhance Audio Quality",
                    "type": "boolean"
                  }
                },
                "required": [
                  "type",
                  "title",
                  "train_mode",
                  "voices"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Document created, URL follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "_id": {
                      "title": " Id",
                      "type": "string"
                    },
                    "type": {
                      "enum": [
                        "svc",
                        "tts"
                      ],
                      "title": "Type",
                      "type": "string"
                    },
                    "title": {
                      "title": "Title",
                      "type": "string"
                    },
                    "description": {
                      "title": "Description",
                      "type": "string"
                    },
                    "cover_image": {
                      "title": "Cover Image",
                      "type": "string"
                    },
                    "train_mode": {
                      "default": "full",
                      "enum": [
                        "fast",
                        "full"
                      ],
                      "title": "Train Mode",
                      "type": "string"
                    },
                    "state": {
                      "enum": [
                        "created",
                        "training",
                        "trained",
                        "failed"
                      ],
                      "title": "State",
                      "type": "string"
                    },
                    "tags": {
                      "items": {
                        "type": "string"
                      },
                      "title": "Tags",
                      "type": "array"
                    },
                    "samples": {
                      "default": [],
                      "items": {
                        "$ref": "#/components/schemas/SampleEntity"
                      },
                      "title": "Samples",
                      "type": "array"
                    },
                    "created_at": {
                      "format": "date-time",
                      "title": "Created At",
                      "type": "string"
                    },
                    "updated_at": {
                      "format": "date-time",
                      "title": "Updated At",
                      "type": "string"
                    },
                    "languages": {
                      "default": [],
                      "items": {
                        "type": "string"
                      },
                      "title": "Languages",
                      "type": "array"
                    },
                    "visibility": {
                      "enum": [
                        "public",
                        "unlist",
                        "private"
                      ],
                      "title": "Visibility",
                      "type": "string"
                    },
                    "lock_visibility": {
                      "default": false,
                      "title": "Lock Visibility",
                      "type": "boolean"
                    },
                    "like_count": {
                      "title": "Like Count",
                      "type": "integer"
                    },
                    "mark_count": {
                      "title": "Mark Count",
                      "type": "integer"
                    },
                    "shared_count": {
                      "title": "Shared Count",
                      "type": "integer"
                    },
                    "task_count": {
                      "title": "Task Count",
                      "type": "integer"
                    },
                    "unliked": {
                      "default": false,
                      "title": "Unliked",
                      "type": "boolean"
                    },
                    "liked": {
                      "default": false,
                      "title": "Liked",
                      "type": "boolean"
                    },
                    "marked": {
                      "default": false,
                      "title": "Marked",
                      "type": "boolean"
                    },
                    "author": {
                      "$ref": "#/components/schemas/AuthorEntity"
                    }
                  },
                  "required": [
                    "_id",
                    "type",
                    "title",
                    "description",
                    "cover_image",
                    "state",
                    "tags",
                    "created_at",
                    "updated_at",
                    "visibility",
                    "like_count",
                    "mark_count",
                    "shared_count",
                    "task_count",
                    "author"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "No permission -- see authorization schemes",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status": {
                      "title": "Status",
                      "type": "integer"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "loc": {
                        "title": "Location",
                        "description": "error field",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "type": {
                        "title": "Type",
                        "description": "error type",
                        "type": "string"
                      },
                      "msg": {
                        "title": "Message",
                        "description": "error message",
                        "type": "string"
                      },
                      "ctx": {
                        "title": "Context",
                        "description": "error context",
                        "type": "string"
                      },
                      "in": {
                        "title": "In",
                        "type": "string",
                        "enum": [
                          "path",
                          "query",
                          "header",
                          "cookie",
                          "body"
                        ]
                      }
                    },
                    "required": [
                      "loc",
                      "type",
                      "msg"
                    ]
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Model"
        ]
      }
    },
    "/model/{id}": {
      "get": {
        "summary": "Get Model",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "",
            "required": true,
            "schema": {
              "title": "Id",
              "type": "string"
            },
            "deprecated": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "_id": {
                      "title": " Id",
                      "type": "string"
                    },
                    "type": {
                      "enum": [
                        "svc",
                        "tts"
                      ],
                      "title": "Type",
                      "type": "string"
                    },
                    "title": {
                      "title": "Title",
                      "type": "string"
                    },
                    "description": {
                      "title": "Description",
                      "type": "string"
                    },
                    "cover_image": {
                      "title": "Cover Image",
                      "type": "string"
                    },
                    "train_mode": {
                      "default": "full",
                      "enum": [
                        "fast",
                        "full"
                      ],
                      "title": "Train Mode",
                      "type": "string"
                    },
                    "state": {
                      "enum": [
                        "created",
                        "training",
                        "trained",
                        "failed"
                      ],
                      "title": "State",
                      "type": "string"
                    },
                    "tags": {
                      "items": {
                        "type": "string"
                      },
                      "title": "Tags",
                      "type": "array"
                    },
                    "samples": {
                      "default": [],
                      "items": {
                        "$ref": "#/components/schemas/SampleEntity"
                      },
                      "title": "Samples",
                      "type": "array"
                    },
                    "created_at": {
                      "format": "date-time",
                      "title": "Created At",
                      "type": "string"
                    },
                    "updated_at": {
                      "format": "date-time",
                      "title": "Updated At",
                      "type": "string"
                    },
                    "languages": {
                      "default": [],
                      "items": {
                        "type": "string"
                      },
                      "title": "Languages",
                      "type": "array"
                    },
                    "visibility": {
                      "enum": [
                        "public",
                        "unlist",
                        "private"
                      ],
                      "title": "Visibility",
                      "type": "string"
                    },
                    "lock_visibility": {
                      "default": false,
                      "title": "Lock Visibility",
                      "type": "boolean"
                    },
                    "like_count": {
                      "title": "Like Count",
                      "type": "integer"
                    },
                    "mark_count": {
                      "title": "Mark Count",
                      "type": "integer"
                    },
                    "shared_count": {
                      "title": "Shared Count",
                      "type": "integer"
                    },
                    "task_count": {
                      "title": "Task Count",
                      "type": "integer"
                    },
                    "unliked": {
                      "default": false,
                      "title": "Unliked",
                      "type": "boolean"
                    },
                    "liked": {
                      "default": false,
                      "title": "Liked",
                      "type": "boolean"
                    },
                    "marked": {
                      "default": false,
                      "title": "Marked",
                      "type": "boolean"
                    },
                    "author": {
                      "$ref": "#/components/schemas/AuthorEntity"
                    }
                  },
                  "required": [
                    "_id",
                    "type",
                    "title",
                    "description",
                    "cover_image",
                    "state",
                    "tags",
                    "created_at",
                    "updated_at",
                    "visibility",
                    "like_count",
                    "mark_count",
                    "shared_count",
                    "task_count",
                    "author"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Nothing matches the given URI",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status": {
                      "title": "Status",
                      "type": "integer"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "loc": {
                        "title": "Location",
                        "description": "error field",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "type": {
                        "title": "Type",
                        "description": "error type",
                        "type": "string"
                      },
                      "msg": {
                        "title": "Message",
                        "description": "error message",
                        "type": "string"
                      },
                      "ctx": {
                        "title": "Context",
                        "description": "error context",
                        "type": "string"
                      },
                      "in": {
                        "title": "In",
                        "type": "string",
                        "enum": [
                          "path",
                          "query",
                          "header",
                          "cookie",
                          "body"
                        ]
                      }
                    },
                    "required": [
                      "loc",
                      "type",
                      "msg"
                    ]
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Model"
        ]
      },
      "patch": {
        "summary": "Update Model",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "",
            "required": true,
            "schema": {
              "title": "Id",
              "type": "string"
            },
            "deprecated": false
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "title": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "title": "Title"
                  },
                  "description": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "title": "Description"
                  },
                  "cover_image": {
                    "anyOf": [
                      {
                        "format": "binary",
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "title": "Cover Image"
                  },
                  "visibility": {
                    "anyOf": [
                      {
                        "enum": [
                          "public",
                          "unlist",
                          "private"
                        ],
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "title": "Visibility"
                  },
                  "tags": {
                    "anyOf": [
                      {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "title": "Tags"
                  }
                },
                "type": "object"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "title": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "title": "Title"
                  },
                  "description": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "title": "Description"
                  },
                  "cover_image": {
                    "anyOf": [
                      {
                        "format": "binary",
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "title": "Cover Image"
                  },
                  "visibility": {
                    "anyOf": [
                      {
                        "enum": [
                          "public",
                          "unlist",
                          "private"
                        ],
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "title": "Visibility"
                  },
                  "tags": {
                    "anyOf": [
                      {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "title": "Tags"
                  }
                },
                "type": "object"
              }
            },
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "title": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "title": "Title"
                  },
                  "description": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "title": "Description"
                  },
                  "cover_image": {
                    "anyOf": [
                      {
                        "format": "binary",
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "title": "Cover Image"
                  },
                  "visibility": {
                    "anyOf": [
                      {
                        "enum": [
                          "public",
                          "unlist",
                          "private"
                        ],
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "title": "Visibility"
                  },
                  "tags": {
                    "anyOf": [
                      {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "title": "Tags"
                  }
                },
                "type": "object"
              }
            },
            "application/msgpack": {
              "schema": {
                "properties": {
                  "title": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "title": "Title"
                  },
                  "description": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "title": "Description"
                  },
                  "cover_image": {
                    "anyOf": [
                      {
                        "format": "binary",
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "title": "Cover Image"
                  },
                  "visibility": {
                    "anyOf": [
                      {
                        "enum": [
                          "public",
                          "unlist",
                          "private"
                        ],
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "title": "Visibility"
                  },
                  "tags": {
                    "anyOf": [
                      {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "title": "Tags"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {}
          },
          "401": {
            "description": "No permission -- see authorization schemes",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status": {
                      "title": "Status",
                      "type": "integer"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "loc": {
                        "title": "Location",
                        "description": "error field",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "type": {
                        "title": "Type",
                        "description": "error type",
[...]
