{
  "openapi": "3.1.0",
  "info": {
    "title": "FishAudio OpenAPI",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://api.fish.audio",
      "description": "Fish Audio API"
    }
  ],
  "paths": {
    "/v1/tts": {
      "post": {
        "summary": "Text to Speech",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "model",
            "description": "Specify which TTS model to use. We recommend `s1`",
            "required": true,
            "schema": {
              "type": "string",
              "default": "s1",
              "enum": [
                "s1",
                "speech-1.6",
                "speech-1.5"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TTSRequest"
              }
            },
            "application/msgpack": {
              "schema": {
                "$ref": "#/components/schemas/TTSRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "description": "chunked"
              }
            }
          },
          "401": {
            "description": "No permission -- see authorization schemes",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status": {
                      "title": "Status",
                      "type": "integer"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "No payment -- see charging schemes",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status": {
                      "title": "Status",
                      "type": "integer"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "loc": {
                        "title": "Location",
                        "description": "error field",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "type": {
                        "title": "Type",
                        "description": "error type",
                        "type": "string"
                      },
                      "msg": {
                        "title": "Message",
                        "description": "error message",
                        "type": "string"
                      },
                      "ctx": {
                        "title": "Context",
                        "description": "error context",
                        "type": "string"
                      },
                      "in": {
                        "title": "In",
                        "type": "string",
                        "enum": [
                          "path",
                          "query",
                          "header",
                          "cookie",
                          "body"
                        ]
                      }
                    },
                    "required": [
                      "loc",
                      "type",
                      "msg"
                    ]
                  }
                }
              }
            }
          }
        },
        "tags": [
          "OpenAPI v1"
        ]
      }
    },
    "/v1/asr": {
      "post": {
        "summary": "Speech to Text",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "audio": {
                    "description": "Audio to be converted to text",
                    "format": "binary",
                    "title": "Audio",
                    "type": "string"
                  },
                  "language": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "description": "Language to be used for the speech",
                    "title": "Language"
                  },
                  "ignore_timestamps": {
                    "default": true,
                    "description": "Whether to return precise timestamps in the text, this will increase the latency in audio shorter than 30 seconds",
                    "title": "Ignore Timestamps",
                    "type": "boolean"
                  }
                },
                "required": [
                  "audio"
                ],
                "type": "object"
              }
            },
            "application/msgpack": {
              "schema": {
                "properties": {
                  "audio": {
                    "description": "Audio to be converted to text",
                    "format": "binary",
                    "title": "Audio",
                    "type": "string"
                  },
                  "language": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "description": "Language to be used for the speech",
                    "title": "Language"
                  },
                  "ignore_timestamps": {
                    "default": true,
                    "description": "Whether to return precise timestamps in the text, this will increase the latency in audio shorter than 30 seconds",
                    "title": "Ignore Timestamps",
                    "type": "boolean"
                  }
                },
                "required": [
                  "audio"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "text": {
                      "title": "Text",
                      "type": "string"
                    },
                    "duration": {
                      "description": "Duration of the audio in seconds",
                      "title": "Duration",
                      "type": "number"
                    },
                    "segments": {
                      "items": {
                        "$ref": "#/components/schemas/ASRSegment"
                      },
                      "title": "Segments",
                      "type": "array"
                    }
                  },
                  "required": [
                    "text",
                    "duration",
                    "segments"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "No permission -- see authorization schemes",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status": {
                      "title": "Status",
                      "type": "integer"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "No payment -- see charging schemes",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status": {
                      "title": "Status",
                      "type": "integer"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "loc": {
                        "title": "Location",
                        "description": "error field",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "type": {
                        "title": "Type",
                        "description": "error type",
                        "type": "string"
                      },
                      "msg": {
                        "title": "Message",
                        "description": "error message",
                        "type": "string"
                      },
                      "ctx": {
                        "title": "Context",
                        "description": "error context",
                        "type": "string"
                      },
                      "in": {
                        "title": "In",
                        "type": "string",
                        "enum": [
                          "path",
                          "query",
                          "header",
                          "cookie",
                          "body"
                        ]
                      }
                    },
                    "required": [
                      "loc",
                      "type",
                      "msg"
                    ]
                  }
                }
              }
            }
          }
        },
        "tags": [
          "OpenAPI v1"
        ]
      }
    },
    "/wallet/{user_id}/package": {
      "get": {
        "summary": "Get User Package",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "user_id",
            "description": "User ID or 'self'",
            "required": false,
            "schema": {
              "default": "self",
              "title": "User Id",
              "type": "string"
            },
            "deprecated": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "user_id": {
                      "title": "User Id",
                      "type": "string"
                    },
                    "type": {
                      "title": "Type",
                      "type": "string"
                    },
                    "total": {
                      "title": "Total",
                      "type": "integer"
                    },
                    "balance": {
                      "title": "Balance",
                      "type": "integer"
                    },
                    "created_at": {
                      "title": "Created At",
                      "type": "string"
                    },
                    "updated_at": {
                      "title": "Updated At",
                      "type": "string"
                    },
                    "finished_at": {
                      "title": "Finished At",
                      "type": "string"
                    }
                  },
                  "required": [
                    "user_id",
                    "type",
                    "total",
                    "balance",
                    "created_at",
                    "updated_at",
                    "finished_at"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "No permission -- see authorization schemes",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status": {
                      "title": "Status",
                      "type": "integer"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "loc": {
                        "title": "Location",
                        "description": "error field",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "type": {
                        "title": "Type",
                        "description": "error type",
                        "type": "string"
                      },
                      "msg": {
                        "title": "Message",
                        "description": "error message",
                        "type": "string"
                      },
                      "ctx": {
                        "title": "Context",
                        "description": "error context",
                        "type": "string"
                      },
                      "in": {
                        "title": "In",
                        "type": "string",
                        "enum": [
                          "path",
                          "query",
                          "header",
                          "cookie",
                          "body"
                        ]
                      }
                    },
                    "required": [
                      "loc",
                      "type",
                      "msg"
                    ]
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Wallet"
        ]
      }
    },
    "/wallet/{user_id}/api-credit": {
      "get": {
        "summary": "Get API Credit",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "check_free_credit",
            "description": "",
            "required": false,
            "schema": {
              "default": false,
              "title": "Check Free Credit",
              "type": "boolean"
            },
            "deprecated": false
          },
          {
            "in": "path",
            "name": "user_id",
            "description": "User ID or 'self'",
            "required": false,
            "schema": {
              "default": "self",
              "title": "User Id",
              "type": "string"
            },
            "deprecated": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "_id": {
                      "title": " Id",
                      "type": "string"
                    },
                    "user_id": {
                      "title": "User Id",
                      "type": "string"
                    },
                    "credit": {
                      "title": "Credit",
                      "type": "string"
                    },
                    "created_at": {
                      "format": "date-time",
                      "title": "Created At",
                      "type": "string"
                    },
                    "updated_at": {
                      "format": "date-time",
                      "title": "Updated At",
                      "type": "string"
                    },
                    "has_phone_sha256": {
                      "title": "Has Phone Sha256",
                      "type": "boolean"
                    },
                    "has_free_credit": {
                      "anyOf": [
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "default": null,
                      "title": "Has Free Credit"
                    }
                  },
                  "required": [
                    "_id",
                    "user_id",
                    "credit",
                    "created_at",
                    "updated_at",
                    "has_phone_sha256"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "No permission -- see authorization schemes",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status": {
                      "title": "Status",
                      "type": "integer"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "loc": {
                        "title": "Location",
                        "description": "error field",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "type": {
                        "title": "Type",
                        "description": "error type",
                        "type": "string"
                      },
                      "msg": {
                        "title": "Message",
                        "description": "error message",
                        "type": "string"
                      },
                      "ctx": {
                        "title": "Context",
                        "description": "error context",
                        "type": "string"
                      },
                      "in": {
                        "title": "In",
                        "type": "string",
                        "enum": [
                          "path",
                          "query",
                          "header",
                          "cookie",
                          "body"
                        ]
                      }
                    },
                    "required": [
                      "loc",
                      "type",
                      "msg"
                    ]
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Wallet"
        ]
      }
    },
    "/model": {
      "get": {
        "summary": "List Models",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page_size",
            "description": "Page size",
            "required": false,
            "schema": {
              "default": 10,
              "title": "Page Size",
              "type": "integer"
            },
            "deprecated": false
          },
          {
            "in": "query",
            "name": "page_number",
            "description": "Page number",
            "required": false,
            "schema": {
              "default": 1,
              "title": "Page Number",
              "type": "integer"
            },
            "deprecated": false
          },
          {
            "in": "query",
            "name": "title",
            "description": "Title to filter models",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "default": null,
              "title": "Title"
            },
            "deprecated": false
          },
          {
            "in": "query",
            "name": "tag",
            "description": "Tag to filter models",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "default": null,
              "title": "Tag"
            },
            "deprecated": false
          },
          {
            "in": "query",
            "name": "self",
            "description": "If True, only models created by the user will be returned",
            "required": false,
            "schema": {
              "default": false,
              "title": "Self",
              "type": "boolean"
            },
            "deprecated": false
          },
          {
            "in": "query",
            "name": "author_id",
            "description": "Author ID to filter models, this will be ignored if self is True",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "default": null,
              "title": "Author Id"
            },
            "deprecated": false
          },
          {
            "in": "query",
            "name": "language",
            "description": "Language to filter models",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "default": null,
              "title": "Language"
            },
            "deprecated": false
          },
          {
            "in": "query",
            "name": "title_language",
            "description": "Title language to filter models",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "default": null,
              "title": "Title Language"
            },
            "deprecated": false
          },
          {
            "in": "query",
            "name": "sort_by",
            "description": "",
            "required": false,
            "schema": {
              "default": "score",
              "enum": [
                "score",
                "task_count",
                "created_at"
              ],
              "title": "Sort By",
              "type": "string"
            },
            "deprecated": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "total": {
                      "title": "Total",
                      "type": "integer"
                    },
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/ModelEntity"
                      },
                      "title": "Items",
                      "type": "array"
                    }
                  },
                  "required": [
                    "total",
                    "items"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "loc": {
                        "title": "Location",
                        "description": "error field",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "type": {
                        "title": "Type",
                        "description": "error type",
                        "type": "string"
                      },
                      "msg": {
                        "title": "Message",
                        "description": "error message",
                        "type": "string"
                      },
                      "ctx": {
                        "title": "Context",
                        "description": "error context",
                        "type": "string"
                      },
                      "in": {
                        "title": "In",
                        "type": "string",
                        "enum": [
                          "path",
                          "query",
                          "header",
                          "cookie",
                          "body"
                        ]
                      }
                    },
                    "required": [
                      "loc",
                      "type",
                      "msg"
                    ]
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Model"
        ]
      },
      "post": {
        "summary": "Create Model",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "visibility": {
                    "default": "public",
                    "description": "Model visibility, public will be shown in the discovery page, unlist allows anyone with the link to access, private only be visible to the creator",
                    "enum": [
                      "public",
                      "unlist",
                      "private"
                    ],
                    "title": "Visibility",
                    "type": "string"
                  },
                  "type": {
                    "const": "tts",
                    "description": "Model type, tts is for text to speech",
                    "enum": [
                      "tts"
                    ],
                    "title": "Type",
                    "type": "string"
                  },
                  "title": {
                    "description": "Model title or name",
                    "title": "Title",
                    "type": "string"
                  },
                  "description": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "description": "Model description",
                    "title": "Description"
                  },
                  "cover_image": {
                    "anyOf": [
                      {
                        "format": "binary",
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "description": "Model cover image, this is required if the model is public",
                    "title": "Cover Image"
                  },
                  "train_mode": {
                    "const": "fast",
                    "description": "Model train mode, for TTS model, fast means model instantly available after creation",
                    "enum": [
                      "fast"
                    ],
                    "title": "Train Mode",
                    "type": "string"
                  },
                  "voices": {
                    "anyOf": [
                      {
                        "items": {
                          "format": "binary",
                          "type": "string"
                        },
                        "type": "array"
                      },
                      {
                        "format": "binary",
                        "type": "string"
                      }
                    ],
                    "description": "Upload voices files that will be used to tune the model",
                    "title": "Voices"
                  },
                  "texts": {
                    "anyOf": [
                      {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "description": "Texts corresponding to the voices, if unspecified, ASR will be performed on the voices",
                    "title": "Texts"
                  },
                  "tags": {
                    "anyOf": [
                      {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Model tags",
                    "title": "Tags"
                  },
                  "enhance_audio_quality": {
                    "default": false,
                    "description": "Enhance audio quality",
                    "title": "Enhance Audio Quality",
                    "type": "boolean"
                  }
                },
                "required": [
                  "type",
                  "title",
                  "train_mode",
                  "voices"
                ],
                "type": "object"
              }
            },
            "application/msgpack": {
              "schema": {
                "properties": {
                  "visibility": {
                    "default": "public",
                    "description": "Model visibility, public will be shown in the discovery page, unlist allows anyone with the link to access, private only be visible to the creator",
                    "enum": [
                      "public",
                      "unlist",
                      "private"
                    ],
                    "title": "Visibility",
                    "type": "string"
                  },
                  "type": {
                    "const": "tts",
                    "description": "Model type, tts is for text to speech",
                    "enum": [
                      "tts"
                    ],
                    "title": "Type",
                    "type": "string"
                  },
                  "title": {
                    "description": "Model title or name",
                    "title": "Title",
                    "type": "string"
                  },
                  "description": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "description": "Model description",
                    "title": "Description"
                  },
                  "cover_image": {
                    "anyOf": [
                      {
                        "format": "binary",
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "description": "Model cover image, this is required if the model is public",
                    "title": "Cover Image"
                  },
                  "train_mode": {
                    "const": "fast",
                    "description": "Model train mode, for TTS model, fast means model instantly available after creation",
                    "enum": [
                      "fast"
                    ],
                    "title": "Train Mode",
                    "type": "string"
                  },
                  "voices": {
                    "anyOf": [
                      {
                        "items": {
                          "format": "binary",
                          "type": "string"
                        },
                        "type": "array"
                      },
                      {
                        "format": "binary",
                        "type": "string"
                      }
                    ],
                    "description": "Upload voices files that will be used to tune the model",
                    "title": "Voices"
                  },
                  "texts": {
                    "anyOf": [
                      {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "description": "Texts corresponding to the voices, if unspecified, ASR will be performed on the voices",
                    "title": "Texts"
                  },
                  "tags": {
                    "anyOf": [
                      {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Model tags",
                    "title": "Tags"
                  },
                  "enhance_audio_quality": {
                    "default": false,
                    "description": "Enhance audio quality",
                    "title": "Enhance Audio Quality",
                    "type": "boolean"
                  }
                },
                "required": [
                  "type",
                  "title",
                  "train_mode",
                  "voices"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Document created, URL follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "_id": {
                      "title": " Id",
                      "type": "string"
                    },
                    "type": {
                      "enum": [
                        "svc",
                        "tts"
                      ],
                      "title": "Type",
                      "type": "string"
                    },
                    "title": {
                      "title": "Title",
                      "type": "string"
                    },
                    "description": {
                      "title": "Description",
                      "type": "string"
                    },
                    "cover_image": {
                      "title": "Cover Image",
                      "type": "string"
                    },
                    "train_mode": {
                      "default": "full",
                      "enum": [
                        "fast",
                        "full"
                      ],
                      "title": "Train Mode",
                      "type": "string"
                    },
                    "state": {
                      "enum": [
                        "created",
                        "training",
                        "trained",
                        "failed"
                      ],
                      "title": "State",
                      "type": "string"
                    },
                    "tags": {
                      "items": {
                        "type": "string"
                      },
                      "title": "Tags",
                      "type": "array"
                    },
                    "samples": {
                      "default": [],
                      "items": {
                        "$ref": "#/components/schemas/SampleEntity"
                      },
                      "title": "Samples",
                      "type": "array"
                    },
                    "created_at": {
                      "format": "date-time",
                      "title": "Created At",
                      "type": "string"
                    },
                    "updated_at": {
                      "format": "date-time",
                      "title": "Updated At",
                      "type": "string"
                    },
                    "languages": {
                      "default": [],
                      "items": {
                        "type": "string"
                      },
                      "title": "Languages",
                      "type": "array"
                    },
                    "visibility": {
                      "enum": [
                        "public",
                        "unlist",
                        "private"
                      ],
                      "title": "Visibility",
                      "type": "string"
                    },
                    "lock_visibility": {
                      "default": false,
                      "title": "Lock Visibility",
                      "type": "boolean"
                    },
                    "like_count": {
                      "title": "Like Count",
                      "type": "integer"
                    },
                    "mark_count": {
                      "title": "Mark Count",
                      "type": "integer"
                    },
                    "shared_count": {
                      "title": "Shared Count",
                      "type": "integer"
                    },
                    "task_count": {
                      "title": "Task Count",
                      "type": "integer"
                    },
                    "unliked": {
                      "default": false,
                      "title": "Unliked",
                      "type": "boolean"
                    },
                    "liked": {
                      "default": false,
                      "title": "Liked",
                      "type": "boolean"
                    },
                    "marked": {
                      "default": false,
                      "title": "Marked",
                      "type": "boolean"
                    },
                    "author": {
                      "$ref": "#/components/schemas/AuthorEntity"
                    }
                  },
                  "required": [
                    "_id",
                    "type",
                    "title",
                    "description",
                    "cover_image",
                    "state",
                    "tags",
                    "created_at",
                    "updated_at",
                    "visibility",
                    "like_count",
                    "mark_count",
                    "shared_count",
                    "task_count",
                    "author"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "No permission -- see authorization schemes",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status": {
                      "title": "Status",
                      "type": "integer"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "loc": {
                        "title": "Location",
                        "description": "error field",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "type": {
                        "title": "Type",
                        "description": "error type",
                        "type": "string"
                      },
                      "msg": {
                        "title": "Message",
                        "description": "error message",
                        "type": "string"
                      },
                      "ctx": {
                        "title": "Context",
                        "description": "error context",
                        "type": "string"
                      },
                      "in": {
                        "title": "In",
                        "type": "string",
                        "enum": [
                          "path",
                          "query",
                          "header",
                          "cookie",
                          "body"
                        ]
                      }
                    },
                    "required": [
                      "loc",
                      "type",
                      "msg"
                    ]
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Model"
        ]
      }
    },
    "/model/{id}": {
      "get": {
        "summary": "Get Model",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "",
            "required": true,
            "schema": {
              "title": "Id",
              "type": "string"
            },
            "deprecated": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "_id": {
                      "title": " Id",
                      "type": "string"
                    },
                    "type": {
                      "enum": [
                        "svc",
                        "tts"
                      ],
                      "title": "Type",
                      "type": "string"
                    },
                    "title": {
                      "title": "Title",
                      "type": "string"
                    },
                    "description": {
                      "title": "Description",
                      "type": "string"
                    },
                    "cover_image": {
                      "title": "Cover Image",
                      "type": "string"
                    },
                    "train_mode": {
                      "default": "full",
                      "enum": [
                        "fast",
                        "full"
                      ],
                      "title": "Train Mode",
                      "type": "string"
                    },
                    "state": {
                      "enum": [
                        "created",
                        "training",
                        "trained",
                        "failed"
                      ],
                      "title": "State",
                      "type": "string"
                    },
                    "tags": {
                      "items": {
                        "type": "string"
                      },
                      "title": "Tags",
                      "type": "array"
                    },
                    "samples": {
                      "default": [],
                      "items": {
                        "$ref": "#/components/schemas/SampleEntity"
                      },
                      "title": "Samples",
                      "type": "array"
                    },
                    "created_at": {
                      "format": "date-time",
                      "title": "Created At",
                      "type": "string"
                    },
                    "updated_at": {
                      "format": "date-time",
                      "title": "Updated At",
                      "type": "string"
                    },
                    "languages": {
                      "default": [],
                      "items": {
                        "type": "string"
                      },
                      "title": "Languages",
                      "type": "array"
                    },
                    "visibility": {
                      "enum": [
                        "public",
                        "unlist",
                        "private"
                      ],
                      "title": "Visibility",
                      "type": "string"
                    },
                    "lock_visibility": {
                      "default": false,
                      "title": "Lock Visibility",
                      "type": "boolean"
                    },
                    "like_count": {
                      "title": "Like Count",
                      "type": "integer"
                    },
                    "mark_count": {
                      "title": "Mark Count",
                      "type": "integer"
                    },
                    "shared_count": {
                      "title": "Shared Count",
                      "type": "integer"
                    },
                    "task_count": {
                      "title": "Task Count",
                      "type": "integer"
                    },
                    "unliked": {
                      "default": false,
                      "title": "Unliked",
                      "type": "boolean"
                    },
                    "liked": {
                      "default": false,
                      "title": "Liked",
                      "type": "boolean"
                    },
                    "marked": {
                      "default": false,
                      "title": "Marked",
                      "type": "boolean"
                    },
                    "author": {
                      "$ref": "#/components/schemas/AuthorEntity"
                    }
                  },
                  "required": [
                    "_id",
                    "type",
                    "title",
                    "description",
                    "cover_image",
                    "state",
                    "tags",
                    "created_at",
                    "updated_at",
                    "visibility",
                    "like_count",
                    "mark_count",
                    "shared_count",
                    "task_count",
                    "author"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Nothing matches the given URI",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status": {
                      "title": "Status",
                      "type": "integer"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "loc": {
                        "title": "Location",
                        "description": "error field",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "type": {
                        "title": "Type",
                        "description": "error type",
                        "type": "string"
                      },
                      "msg": {
                        "title": "Message",
                        "description": "error message",
                        "type": "string"
                      },
                      "ctx": {
                        "title": "Context",
                        "description": "error context",
                        "type": "string"
                      },
                      "in": {
                        "title": "In",
                        "type": "string",
                        "enum": [
                          "path",
                          "query",
                          "header",
                          "cookie",
                          "body"
                        ]
                      }
                    },
                    "required": [
                      "loc",
                      "type",
                      "msg"
                    ]
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Model"
        ]
      },
      "patch": {
        "summary": "Update Model",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "",
            "required": true,
            "schema": {
              "title": "Id",
              "type": "string"
            },
            "deprecated": false
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "title": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "title": "Title"
                  },
                  "description": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "title": "Description"
                  },
                  "cover_image": {
                    "anyOf": [
                      {
                        "format": "binary",
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "title": "Cover Image"
                  },
                  "visibility": {
                    "anyOf": [
                      {
                        "enum": [
                          "public",
                          "unlist",
                          "private"
                        ],
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "title": "Visibility"
                  },
                  "tags": {
                    "anyOf": [
                      {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "title": "Tags"
                  }
                },
                "type": "object"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "title": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "title": "Title"
                  },
                  "description": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "title": "Description"
                  },
                  "cover_image": {
                    "anyOf": [
                      {
                        "format": "binary",
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "title": "Cover Image"
                  },
                  "visibility": {
                    "anyOf": [
                      {
                        "enum": [
                          "public",
                          "unlist",
                          "private"
                        ],
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "title": "Visibility"
                  },
                  "tags": {
                    "anyOf": [
                      {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "title": "Tags"
                  }
                },
                "type": "object"
              }
            },
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "title": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "title": "Title"
                  },
                  "description": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "title": "Description"
                  },
                  "cover_image": {
                    "anyOf": [
                      {
                        "format": "binary",
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "title": "Cover Image"
                  },
                  "visibility": {
                    "anyOf": [
                      {
                        "enum": [
                          "public",
                          "unlist",
                          "private"
                        ],
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "title": "Visibility"
                  },
                  "tags": {
                    "anyOf": [
                      {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "title": "Tags"
                  }
                },
                "type": "object"
              }
            },
            "application/msgpack": {
              "schema": {
                "properties": {
                  "title": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "title": "Title"
                  },
                  "description": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "title": "Description"
                  },
                  "cover_image": {
                    "anyOf": [
                      {
                        "format": "binary",
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "title": "Cover Image"
                  },
                  "visibility": {
                    "anyOf": [
                      {
                        "enum": [
                          "public",
                          "unlist",
                          "private"
                        ],
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null,
                    "title": "Visibility"
                  },
                  "tags": {
                    "anyOf": [
                      {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "title": "Tags"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {}
          },
          "401": {
            "description": "No permission -- see authorization schemes",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status": {
                      "title": "Status",
                      "type": "integer"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "loc": {
                        "title": "Location",
                        "description": "error field",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "type": {
                        "title": "Type",
                        "description": "error type",
                        "type": "string"
                      },
                      "msg": {
                        "title": "Message",
                        "description": "error message",
                        "type": "string"
                      },
                      "ctx": {
                        "title": "Context",
                        "description": "error context",
                        "type": "string"
                      },
                      "in": {
                        "title": "In",
                        "type": "string",
                        "enum": [
                          "path",
                          "query",
                          "header",
                          "cookie",
                          "body"
                        ]
                      }
                    },
                    "required": [
                      "loc",
                      "type",
                      "msg"
                    ]
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Model"
        ]
      },
      "delete": {
        "summary": "Delete Model",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "",
            "required": true,
            "schema": {
              "title": "Id",
              "type": "string"
            },
            "deprecated": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {}
          },
          "401": {
            "description": "No permission -- see authorization schemes",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status": {
                      "title": "Status",
                      "type": "integer"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "loc": {
                        "title": "Location",
                        "description": "error field",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "type": {
                        "title": "Type",
                        "description": "error type",
                        "type": "string"
                      },
                      "msg": {
                        "title": "Message",
                        "description": "error message",
                        "type": "string"
                      },
                      "ctx": {
                        "title": "Context",
                        "description": "error context",
                        "type": "string"
                      },
                      "in": {
                        "title": "In",
                        "type": "string",
                        "enum": [
                          "path",
                          "query",
                          "header",
                          "cookie",
                          "body"
                        ]
                      }
                    },
                    "required": [
                      "loc",
                      "type",
                      "msg"
                    ]
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Model"
        ]
      }
    }
  },
  "tags": [],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "ProsodyControl": {
        "description": "Controls for adjusting the prosody (rhythm and intonation) of generated speech.",
        "properties": {
          "speed": {
            "default": 1,
            "description": "Speaking rate multiplier. Valid range: 0.5 to 2.0. 1.0 = normal speed, 0.5 = half speed, 2.0 = double speed. Useful for adjusting pacing without regenerating audio.",
            "title": "Speed",
            "type": "number"
          },
          "volume": {
            "default": 0,
            "description": "Volume adjustment in decibels (dB). 0 = no change, positive values = louder, negative values = quieter.",
            "title": "Volume",
            "type": "number"
          }
        },
        "title": "ProsodyControl",
        "type": "object"
      },
      "ReferenceAudio": {
        "description": "A voice sample with its transcript, used for zero-shot voice cloning. The model will attempt to match the voice characteristics from the audio sample.",
        "properties": {
          "audio": {
            "format": "binary",
            "description": "Raw audio bytes of the voice sample. Supported formats: WAV, MP3, FLAC. For best results, use 10-30 seconds of clear speech with minimal background noise.",
            "title": "Audio",
            "type": "string"
          },
          "text": {
            "description": "The exact transcript of what is spoken in the audio sample. Accuracy is important for voice cloning quality.",
            "title": "Text",
            "type": "string"
          }
        },
        "required": [
          "audio",
          "text"
        ],
        "title": "ReferenceAudio",
        "type": "object"
      },
      "TTSRequest": {
        "description": "Request body for text-to-speech synthesis.",
        "type": "object",
        "required": ["text"],
        "properties": {
          "text": {
            "description": "The text content to convert to speech. Supports multiple languages including English, Chinese, Japanese, and more. For best results, use proper punctuation and avoid mixing too many languages in a single request.",
            "title": "Text",
            "type": "string"
          },
          "temperature": {
            "description": "Controls the randomness/expressiveness of the generated speech. Higher values produce more varied and expressive speech, lower values produce more consistent output.",
            "title": "Temperature",
            "type": "number",
            "default": 0.7,
            "minimum": 0.0,
            "maximum": 1.0
          },
          "top_p": {
            "description": "Controls diversity via nucleus sampling. Lower values produce more focused/predictable speech, higher values allow more variety.",
            "title": "Top P",
            "type": "number",
            "default": 0.7,
            "minimum": 0.0,
            "maximum": 1.0
          },
          "references": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/ReferenceAudio"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "description": "Custom voice references for zero-shot voice cloning. Provide audio samples with their transcripts to clone a voice on-the-fly without creating a model. Requires MessagePack serialization (not available via JSON). Ignored if reference_id is also provided. For best results, use 10-30 seconds of clean audio.",
            "title": "References"
          },
          "reference_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "description": "The unique identifier of a voice model to use for speech synthesis. You can find model IDs in the Fish Audio voice library or use your own custom-trained models. If not specified and no references provided, a default voice will be used.",
            "title": "Reference Id"
          },
          "prosody": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ProsodyControl"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "description": "Fine-tune the speech output with speed and volume adjustments. Speed controls speaking rate (1.0 = normal, <1.0 = slower, >1.0 = faster). Volume adjusts loudness in decibels (0 = unchanged, positive = louder, negative = quieter)."
          },
          "chunk_length": {
            "default": 300,
            "description": "Controls the size of text segments for processing. Higher values produce longer continuous speech segments but increase memory usage and latency.",
            "maximum": 300,
            "minimum": 100,
            "title": "Chunk Length",
            "type": "integer"
          },
          "normalize": {
            "default": true,
            "description": "Normalizes text for English and Chinese, improving stability for numbers.",
            "title": "Normalize",
            "type": "boolean"
          },
          "format": {
            "default": "mp3",
            "description": "Output audio format. 'mp3': Compressed, good for streaming (44.1kHz). 'wav': Uncompressed, highest quality (44.1kHz). 'pcm': Raw 16-bit audio (44.1kHz). 'opus': Modern compressed format, ideal for web (48kHz).",
            "enum": ["wav", "pcm", "mp3", "opus"],
            "title": "Format",
            "type": "string"
          },
          "sample_rate": {
            "anyOf": [
              { "type": "integer" },
              { "type": "null" }
            ],
            "default": null,
            "description": "Audio sample rate in Hz. When null, uses the format's default (44100 Hz for most formats, 48000 Hz for opus).",
            "title": "Sample Rate"
          },
          "mp3_bitrate": {
            "default": 128,
            "description": "Bitrate for MP3 output in kbps. Only applies when format='mp3'. 64: Smaller files. 128: Balanced (recommended). 192: Higher quality.",
            "enum": [64, 128, 192],
            "title": "Mp3 Bitrate",
            "type": "integer"
          },
          "opus_bitrate": {
            "default": -1000,
            "description": "Bitrate for Opus output in kbps. Only applies when format='opus'. -1000: Automatic (recommended). 24-64: Manual selection.",
            "enum": [-1000, 24, 32, 48, 64],
            "title": "Opus Bitrate",
            "type": "integer"
          },
          "latency": {
            "default": "normal",
            "description": "Trade-off between response time and quality. 'normal': Best quality. 'balanced': Reduced latency, slight quality trade-off. 'low': Lowest latency.",
            "enum": ["low", "normal", "balanced"],
            "title": "Latency",
            "type": "string"
          },
          "max_new_tokens": {
            "default": 1024,
            "description": "Maximum audio tokens to generate per text chunk. Higher values allow longer audio segments.",
            "title": "Max New Tokens",
            "type": "integer"
          },
          "repetition_penalty": {
            "default": 1.2,
            "description": "Discourages repeating similar audio patterns. Values > 1.0 reduce repetition.",
            "title": "Repetition Penalty",
            "type": "number"
          },
          "min_chunk_length": {
            "default": 50,
            "description": "Minimum characters before splitting into a new chunk. Prevents very short audio segments.",
            "minimum": 0,
            "maximum": 100,
            "title": "Min Chunk Length",
            "type": "integer"
          },
          "condition_on_previous_chunks": {
            "default": true,
            "description": "Enables voice consistency across chunks by using previous audio as context.",
            "title": "Condition On Previous Chunks",
            "type": "boolean"
          },
          "early_stop_threshold": {
            "default": 1.0,
            "description": "Controls early stopping during batch processing. 1.0 waits for all samples to complete.",
            "title": "Early Stop Threshold",
            "type": "number",
            "minimum": 0.0,
            "maximum": 1.0
          }
        },
        "title": "TTSRequest"
      },
      "ASRSegment": {
        "properties": {
          "text": {
            "title": "Text",
            "type": "string"
          },
          "start": {
            "title": "Start",
            "type": "number"
          },
          "end": {
            "title": "End",
            "type": "number"
          }
        },
        "required": [
          "text",
          "start",
          "end"
        ],
        "title": "ASRSegment",
        "type": "object"
      },
      "AuthorEntity": {
        "properties": {
          "_id": {
            "title": " Id",
            "type": "string"
          },
          "nickname": {
            "title": "Nickname",
            "type": "string"
          },
          "avatar": {
            "title": "Avatar",
            "type": "string"
          }
        },
        "required": [
          "_id",
          "nickname",
          "avatar"
        ],
        "title": "AuthorEntity",
        "type": "object"
      },
      "ModelEntity": {
        "properties": {
          "_id": {
            "title": " Id",
            "type": "string"
          },
          "type": {
            "enum": [
              "svc",
              "tts"
            ],
            "title": "Type",
            "type": "string"
          },
          "title": {
            "title": "Title",
            "type": "string"
          },
          "description": {
            "title": "Description",
            "type": "string"
          },
          "cover_image": {
            "title": "Cover Image",
            "type": "string"
          },
          "train_mode": {
            "default": "full",
            "enum": [
              "fast",
              "full"
            ],
            "title": "Train Mode",
            "type": "string"
          },
          "state": {
            "enum": [
              "created",
              "training",
              "trained",
              "failed"
            ],
            "title": "State",
            "type": "string"
          },
          "tags": {
            "items": {
              "type": "string"
            },
            "title": "Tags",
            "type": "array"
          },
          "samples": {
            "default": [],
            "items": {
              "$ref": "#/components/schemas/SampleEntity"
            },
            "title": "Samples",
            "type": "array"
          },
          "created_at": {
            "format": "date-time",
            "title": "Created At",
            "type": "string"
          },
          "updated_at": {
            "format": "date-time",
            "title": "Updated At",
            "type": "string"
          },
          "languages": {
            "default": [],
            "items": {
              "type": "string"
            },
            "title": "Languages",
            "type": "array"
          },
          "visibility": {
            "enum": [
              "public",
              "unlist",
              "private"
            ],
            "title": "Visibility",
            "type": "string"
          },
          "lock_visibility": {
            "default": false,
            "title": "Lock Visibility",
            "type": "boolean"
          },
          "like_count": {
            "title": "Like Count",
            "type": "integer"
          },
          "mark_count": {
            "title": "Mark Count",
            "type": "integer"
          },
          "shared_count": {
            "title": "Shared Count",
            "type": "integer"
          },
          "task_count": {
            "title": "Task Count",
            "type": "integer"
          },
          "unliked": {
            "default": false,
            "title": "Unliked",
            "type": "boolean"
          },
          "liked": {
            "default": false,
            "title": "Liked",
            "type": "boolean"
          },
          "marked": {
            "default": false,
            "title": "Marked",
            "type": "boolean"
          },
          "author": {
            "$ref": "#/components/schemas/AuthorEntity"
          }
        },
        "required": [
          "_id",
          "type",
          "title",
          "description",
          "cover_image",
          "state",
          "tags",
          "created_at",
          "updated_at",
          "visibility",
          "like_count",
          "mark_count",
          "shared_count",
          "task_count",
          "author"
        ],
        "title": "ModelEntity",
        "type": "object"
      },
      "SampleEntity": {
        "properties": {
          "title": {
            "title": "Title",
            "type": "string"
          },
          "text": {
            "title": "Text",
            "type": "string"
          },
          "task_id": {
            "title": "Task Id",
            "type": "string"
          },
          "audio": {
            "title": "Audio",
            "type": "string"
          }
        },
        "required": [
          "title",
          "text",
          "task_id",
          "audio"
        ],
        "title": "SampleEntity",
        "type": "object"
      }
    }
  }
}